{% extends 'base.html.twig' %}

{% block titre %}Liste des livres de la bibliothèque{% endblock %}

{% block contenu %}
    <table class="table table-hover text-center">
        <thead>
            <tr class="table-dark">
                <th>Titre</th>
                <th>Auteur</th>
                <th>Nombre de pages</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for livre in livres %}
                <tr>
                    <td><a href="/livres/{{livre._id}}">{{ livre.nom }}</a></td>
                    <td>{{ livre.auteur }}</td>
                    <td>{{ livre.pages }}</td>
                    <td><a href="" class="btn btn-warning">Modifier</a></td>
                    <td>
                        <form action="/livres/delete/{{livre._id}}" method="post" onSubmit="return confirm('Voulez-vous vraiment supprimer {{livre.nom}} ?');">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="afficherFormulaire()" class="btn btn-success w-100">Ajouter</button>
    
    <form id="ajoutForm" class="d-none" method="POST" action="">
        <fieldset>
            <legend>Création d'un livre</legend>
            <div class="mb-3">
                <label for="titre">Titre du livre</label>
                <input type="text" class="form-control" id="titre" name="titre">
            </div>
            <div class="mb-3">
                <label for="auteur">Auteur</label>
                <input type="text" class="form-control" id="auteur" name="auteur">
            </div>
            <div class="mb-3">
                <label for="pages">Nombre de pages</label>
                <input type="number" class="form-control" id="pages" name="pages">
            </div>
            <div class="mb-3">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" row="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Valider</button>
        </fieldset>
    </form>
{% endblock %}